.header{
    background-color: rgb(255, 81, 0);
    color: wheat;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: space-between;
}

  .title{
        padding: 10px;
        margin: 5px;
    }
    .nav{
        margin-right: 10px; 
        text-decoration: none;
        text-align: center;
        color: wheat;
        
        &:hover{
            color: blue ;
        }
    }
.nav-link{
    margin-top: 20px;
    text-decoration: none;
    font-size:15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: stretch;


    .is-active{
    color:blue;

}

}


// NavLink{
//     padding: 10px;
//     margin: 10px;
//     display: flex;
//     align-self: center;
// }

