.header{
    background-color: rgb(255, 81, 0);
    color: wheat;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    align-self: stretch;

    .title{
        padding: 10px;
        margin: 5px;
    }
}


.is-active{
    padding: 10px;
    margin: 10px;
    color: black;
}

NavLink{
    padding: 10px;
    margin: 10px;
    display: flex;
    align-self: center;
}

