.expenseForm{
    text-align: center;
    background-color:  #ff5100;
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    position: relative;
    top: 10px;
    left:10px;
    }

.form{
    border-radius: 20px;
    margin: 40px;
    padding: 40px;
    background-color:grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.title{
    text-align: center;
    color: black;
    
}

 button{
     cursor: pointer;
     border-radius: 2.5px;
     border: 1px solid blue;
     text-align: center;
     width:150px;
     color: black;

     &:hover{
         background-color: blue;
         color: grey;

     }
 }


