.expenseForm{
    text-align: center;
    background-color: deeppink;
    color: rgb(0, 0, 0);
    margin: 50%;
    position: relative;
    top: 10px;
    left:10px;
    }

.form{
    border-radius: 20px;
    margin: 40px;
    background-color: blue;
}



