html {
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 2.3rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
is-active{
    font-weight: bold;
}